<div class="bg-blue-500 p-4 mb-4 flex justify-between items-center sticky top-0 z-10">
  <h1 class="text-2xl font-bold">Todo Lists</h1>
  <div>
    <button id="new-list-btn" class="bg-green-500 text-white px-4 py-2 rounded">New Todo List</button>
  </div>
</div>


<div class="relative flex-1 p-4 bg-blue-600">
  <div id="list-horizontal-scroll" class="relative w-full h-full">
    <div class="flex overflow-x-auto space-x-8 w-30 bg-blue-600" id="scroll-inner" >
      <% @todo_lists.each do |list| %>
        <div class="flex-shrink-0 rounded-full p-2">
          <div class="flex-shrink-0 p-4 rounded-lg shadow-md bg-blue-900">
            <h2 class="flex-shrink-0 text-xl font-semibold mb-2 text-white"><%= list.title %></h2>
            <%= form_with(model: [list, TodoItem.new]) do |form| %>
              <div class="flex mb-2">
                <%= form.text_field :content, placeholder: 'New item', class: 'border border-gray-300 p-2 rounded flex-grow', required: true %>
                <%= form.submit 'Add Item', class: 'ml-2 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded transition-colors' %>
              </div>
            <% end %>
            <div class=" overflow-y-auto">
              <ul class=" text-white rounded mb-4">
                <% list.todo_items.each do |item| %>
                  <li class="flex justify-between items-center p-2 hover:bg-blue-700 transition-colors">
                    <span><%= item.content %></span> 
                    <%= button_to 'Remove', 
                        todo_list_todo_item_path(list, item), 
                        method: :delete, 
                        data: { confirm: 'Are you sure?' }, 
                        class: 'bg-red-500 hover:bg-red-600 text-white px-2 py-1 rounded transition-colors' %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
const newListBtn = document.getElementById('new-list-btn');
const newTodoForm = document.getElementById('new-todo-form');


if (newTodoForm) {
  newListBtn.addEventListener('click', () => {
    newTodoForm.classList.toggle('hidden');
  });
}
</script>